.full{
    height: 100vh;
    width: 100%;
    padding: 50px;
    color: white;
}
/*  Right side Screens */
.first__screen{
    height: 100vh;
    background-color: #f4b93d;
}

.second__screen{
 height: 100vh;
 background-color: #005ba9;
}

.third__screen{
    height: 100vh;
    background-color: tomato;
}

.fourth__screen{
    height:100vh;
    background-color: #009ee2;

}

/*  CSS for fourth screen */

.csection{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 102, 255);
    height: 200px;
    align-items: center;
    margin-top: 50px;
    width: 90%;
}

.csection__info{
  margin-left: 10px;
}

.csection__info > button{
    background-color: var(--btn-light);
    border: none;
    padding: 8px 16px;
    color: white;
    float: right;
}

.footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.personal__info{
    display: flex;
    flex-direction: row;
    margin: 100px auto;
}

.personal__info > img {
  filter: grayscale(100%);
}

.self__intro  > p  {
    line-height:1.3;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
    padding: 6px;
    
    
}

mark{
   font-family:cursive;
   padding: 3px 6px;
   background-color: blueviolet;
   color: white;
  
}

mark:hover{
    cursor:pointer;
    text-decoration:underline;
}
.intro__heading {
    margin-top: 100px;
}

.progress{
    height: 45px;
    background-color: #111;
    color: white;
    border: 1.2em;
    border-radius:20px;
    position: relative;
}

.progress::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position: absolute;
    left: 0.5em;
    top:0.5em;
    bottom:0.5em;
    color: black;
    width:calc(var(--width,0) * 1% ) ;
    max-width: calc(100% - 1em);
    color: white;
    background-color: #f4b93d;
    padding: 1em;
    border-radius:20px;
}

.front__end, .back__end{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    min-width: 40%;
}
.progress__container{
    margin-top: 10px;
}

.skill__interests{
    margin-top: 50px;
}

.interest__section{
    margin-top: 20px;
}

/* .skill__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
@media (max-width:800px) {
    .full{
        overflow: hidden;
    }
    .personal__info{
        display: flex;
        justify-content: center;
        align-self: center;
       
    }

    .self__intro > p {
        margin-bottom: 5px;
        width: 100%;
        font-size: 24px;
        padding: 4px;
        line-height: 1.5;
    }
    .community__section{
       height: fit-content;
    }
    .csection{
        padding-top:8px;
        padding-bottom: 8px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        min-height: 280px;
      
    }
    .csection__info > .summary {
       font-size: 12px;
    }

    .csection > img {
         width: 100px;

    }
    .csection__info > button::before{
        content: "Learn More";
        margin-right: 10px;
    }
    .csection__info > button {
        margin-top: 16px;
        width: 100%;
        cursor: pointer;
    }

    .front__end,.back__end{
        margin-top: 30px;
    }

    .front__end >h3 , .back__end > h3 {
        width: 30%;
        border-bottom: 5px solid #f4b93d;
    }
}